<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Listar Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-light bg-light border-bottom">
        <div class="container">

            <ul class="nav nav-underline ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Comprar
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Ventas Realizadas
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        Administrar Productos
                    </a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link" href="/carroCompra/ver">
                        Carrito
                    </a>
                </li>

                <li class="nav-item" th:if="${usuarioEsAdmin}">
                    <a class="nav-link text-danger" href="/logout">
                        Cerrar Sesión
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="py-5 text-center border-bottom">
            <h2 class=" fst-italic fw-bold">Listado de productos</h2>
        </div>

        <a th:if="${usuarioEsAdmin}" href="/crudProductos/crear" class="btn btn-primary">Nuevo Producto</a>

        <table class="table table-striped">

            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th th:if="${!usuarioEsAdmin}" scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="producto : ${listaProductos}">
                <th th:text="${producto.id}"></th>
                <td th:text="${producto.nombre}">Producto</td>
                <td th:text="${producto.precio}">Precio</td>
                <td th:if="${!usuarioEsAdmin}" style="width: 120px;">

                    <form method="post" th:action="@{'/carroCompra/agregar/' + ${producto.id}}" class="d-flex align-items-center justify-content gap-2">
                        <input type="number" name="cantidad" min="0" value="1" class="form-control text-center col-auto">
                        <button type="submit" class="btn btn-success mb-1">Agregar</button>
                    </form>

                </td>

                <td>

                    <a th:text="Editar" th:if="${usuarioEsAdmin}" th:href="'/crudProductos/editar/'+${producto.id}" class="btn btn-secondary btn-sm"></a>
                    <a th:text="Eliminar" th:if="${usuarioEsAdmin}" th:href="'/crudProductos/eliminar/'+${producto.id}" class="btn btn-danger btn-sm"></a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>